.idea/
package-lock.json
node_modules/
app/typings/
run/
test/
typings/
*typings/
logs/
.DS_Store
.happypack/
node_modules/
npm-debug.log
*/log
*.log

logs/*
/logs/*
.idea/
dist
static
public/
private
run
*.iml
artifacts.json
tmp/
*tmp
_site
logs/restaurant-admin-service/*
logs/restaurant-admin-service
/logs/restaurant-admin-service/*
/logs/restaurant-admin-service
.vscode
config/buildConfig.json
config/manifest.json
app/view/*
!app/view/layout.html
!app/view/README.md
!app/view/.gitkeep
package-lock.json